<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ninghoo.beta.weydio">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".Application.WeydioApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MusicRecyclerActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.NowPlayActivity"
                  android:theme="@style/NowPlayTheme" />

        <activity android:name=".Activity.LockScreenActivity"
                  android:theme="@style/NowPlayTheme"
                  android:screenOrientation="nosensor"
                  android:launchMode="singleInstance"
                  android:excludeFromRecents="true"
                  android:taskAffinity="com.ninghoo.beta.weydio.Activity.LockScreenActivity" />

        <service android:name=".Service.MusicPlayService"
            android:exported="true" />

        <!--<receiver-->
            <!--android:name=".Activity.MusicRecyclerActivity$NoticReceiver"-->
            <!--android:enabled="true"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="NoticPlayPause" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>